/* custom css for friend finder app */

/* general styles */
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, 
    rgba(0,212,255,1) 0%, rgba(0,0,120,0.9262079831932774) 98%);
    font-family: 'Roboto Slab', serif;
}

/* typography */
p {
    letter-spacing: 0.7px;
}

h1 {
    font-size: 44px;
}

/* home page */
#home-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
  }

/* jumbotron */
.jumbotron {
    background-color: steelblue;
}

/* main nav */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline-block;
    padding: 10px;
}

a {
    color: #fff;
    font-size: 18px;
}

li a:hover {
    color: tomato;
    transition: all, 0.3s;
    text-decoration: none;
}

/* forms */
.form-group {
    margin-bottom: 20px;
}

  /* footer */
  .footer {
      height: 70px;
  }
